Repository kubeclipper/kubeclipper, pull requests merged in 2022-10, with the labels that each got.

#244 doc: update README
  README.md
  README_zh.md
Labels: approved, size/XS, kind/documentation, lgtm, release-note-none, dco-signoff: yes

#247 fix: update the default package address for AIO
  pkg/cli/deploy/deploy.go
Labels: kind/bug, size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#246 fix: http-server start bind address update
  cmd/kubeclipper-server/app/options/options.go
  pkg/client/clientrest/client.go
  pkg/controller-runtime/manager/manager.go
  pkg/server/server.go
  pkg/service/staticresource/static_resource.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#250 Revert "fix: http-server start bind address update (#246)"
  cmd/kubeclipper-server/app/options/options.go
  pkg/client/clientrest/client.go
  pkg/controller-runtime/manager/manager.go
  pkg/server/server.go
  pkg/service/staticresource/static_resource.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#251 fix: update the default package address for AIO
  pkg/cli/deploy/deploy.go
  pkg/utils/strutil/strutil.go
Labels: size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#252 feat: add nfs-csi
  cmd/kubeclipper-agent/main.go
  cmd/kubeclipper-server/main.go
  pkg/apis/core/v1/handler.go
  pkg/component/ctx.go
  pkg/component/nfscsi/nfs_csi.go
  pkg/component/nfscsi/template.go
Labels: kind/feature, approved, lgtm, size/XL, release-note-none, dco-signoff: yes

#257 add deprecated field to mark plugin be deprecated
  pkg/component/interface.go
  pkg/component/nfs/nfs.go
Labels: kind/feature, approved, size/XS, lgtm, dco-signoff: yes, release-note

#254 fix: check cluster recovery
  pkg/scheme/core/v1/k8s/cluster.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#256 feat: event logs clean
  Makefile
  cmd/kcctl/app/options/options.go
  cmd/kubeclipper-server/app/options/options.go
  pkg/auditing/audit.go
  pkg/auditing/audit_test.go
  pkg/auditing/option/options.go
  pkg/cli/config/template.go
  pkg/cli/deploy/deploy.go
  pkg/controller/audit_status.go
  pkg/server/config/config.go
  pkg/server/server.go
Labels: kind/feature, approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#259 feat: loginRecord clean
  cmd/kcctl/app/options/options.go
  pkg/authentication/options/options.go
  pkg/cli/config/template.go
  pkg/cli/deploy/deploy.go
  pkg/controller/iam_status.go
  pkg/server/server.go
Labels: kind/feature, approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#261 feat: kubeadm cluster import
  cmd/kubeclipper-server/main.go
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/schema.go
  pkg/apis/core/v1/utils.go
  pkg/clustermanage/interface.go
  pkg/clustermanage/kubeadm/provider.go
  pkg/clustermanage/kubeadm/wrapper.go
  pkg/clustermanage/mock/mock.go
  pkg/controller/cloudprovidercontroller/controller.go
  pkg/controller/cloudprovidercontroller/options.go
  pkg/controller/cloudprovidercontroller/utils.go
  pkg/controller/cluster_status.go
  pkg/controller/clustercontroller/controller.go
  pkg/scheme/common/well_known_labels.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/server/server.go
  pkg/simple/client/kc/api.go
  test/e2e/cluster/add_node.go
  test/e2e/cluster/upgrade.go
Labels: kind/feature, approved, size/XXL, lgtm, release-note-none, dco-signoff: yes

#260 fix: update error msg
  pkg/apis/core/v1/handler.go
Labels: approved, size/XS, lgtm, kind/flake, release-note-none, dco-signoff: yes

#265 fix: deploy aio support master branch
  pkg/cli/deploy/deploy.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#263 fix: kcctl subcommand has a bug where the ssh port is 0
  cmd/kcctl/app/options/options.go
  pkg/cli/registry/registry.go
  pkg/cli/upgrade/upgrade.go
  pkg/utils/sshutils/ssh.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#268 doc: 1.2.0 -> 1.2.1 in readme
  README.md
  README_zh.md
Labels: size/S, approved, lgtm, release-note-none, dco-signoff: yes

#269 doc: update quick start in readme
  README.md
  README_zh.md
Labels: approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#271 fix: update cert expiration immediately
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/controller/cluster_status.go
  pkg/controller/clustercontroller/controller.go
  pkg/service/delivery/delivery.go
Labels: approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#273 fix: add human readable error msg
  cmd/kcctl/app/options/options.go
  pkg/utils/sshutils/ssh.go
Labels: size/S, approved, lgtm, kind/flake, release-note-none, dco-signoff: yes

#272 fix: http-server start bind address update
  cmd/kubeclipper-server/app/options/options.go
  pkg/client/clientrest/client.go
  pkg/controller-runtime/manager/manager.go
  pkg/server/server.go
  pkg/service/staticresource/static_resource.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#282 fix no nodes information was passed in the flushrules step
  pkg/scheme/core/v1/k8s/kubeadm_step.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#281 fix: Fix the bug that k8s gets incorrect docker version information
  pkg/clustermanage/kubeadm/provider.go
  pkg/clustermanage/kubeadm/wrapper.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#285 fix: update kcctl use online deploy config,remove local deploy config
  cmd/kcctl/app/options/options.go
  pkg/cli/clean/clean.go
  pkg/cli/deploy/agent.go
  pkg/cli/deploy/agent_test.go
  pkg/cli/deploy/deploy.go
  pkg/cli/deploy/deploy_config.go
  pkg/cli/drain/drain.go
  pkg/cli/join/join.go
  pkg/cli/proxy/deploy.go
  pkg/cli/resource/resource.go
  pkg/cli/resource/resource_test.go
  pkg/cli/upgrade/upgrade.go
  pkg/controller/cluster_status.go
  pkg/controller/clustercontroller/controller.go
  pkg/simple/client/kc/api.go
  pkg/simple/client/kc/client.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#291 feat: login auth rate limite
  cmd/kcctl/app/options/options.go
  pkg/apis/oauth/handler.go
  pkg/apis/oauth/registry.go
  pkg/authentication/options/options.go
  pkg/cli/config/template.go
  pkg/cli/deploy/deploy.go
  pkg/server/server.go
  tools/doc-gen/main.go
Labels: kind/feature, approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#292 fix-crash
  pkg/scheme/core/v1/container_registry_types.go
  pkg/scheme/core/v1/registry.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#293 fix: support nfs rwo
  pkg/component/nfscsi/template.go
Labels: approved, lgtm, size/M, kind/flake, release-note-none, dco-signoff: yes

#295 fix: import cluster missing kubelet root-dir
  pkg/clustermanage/kubeadm/provider.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#296 fix: clean cmd add force flag to use local deploy config
  pkg/cli/clean/clean.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#299 add fuzzy search for node and event
  pkg/models/cluster/cluster.go
  pkg/models/platform/platformsetting.go
  pkg/models/platform/platformsetting_test.go
Labels: kind/feature, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#301 improve cluster controller
  pkg/apis/core/v1/handler.go
  pkg/client/clientset/versioned/typed/core/v1/core_client.go
  pkg/client/clientset/versioned/typed/core/v1/registry.go
  pkg/client/informers/core/v1/interface.go
  pkg/client/informers/core/v1/registry.go
  pkg/controller/clustercontroller/controller.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/cri/containerd.go
  pkg/scheme/core/v1/cri/docker.go
  pkg/server/server.go
  pkg/service/delivery/delivery.go
  pkg/service/msg.go
  pkg/service/service.go
  pkg/service/task/handler.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#304 fix: determine if stderr is empty
  pkg/clustermanage/kubeadm/provider.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#298 fix: restricted login prompt fixed
  pkg/apis/oauth/handler.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#311 fix: edit no describe backup error
  pkg/apis/core/v1/handler.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#312 hotfix: create cluster by local registry
  pkg/scheme/core/v1/cri/containerd.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#314 fix: enable ipv6 forwarding when creating a cluster
  pkg/scheme/core/v1/k8s/script_unchage.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#316 fix: importing clusters of the same name to the kc platform will over…
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/clustermanage/interface.go
  pkg/clustermanage/kubeadm/provider.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#317 add cluster control plane health status
  pkg/apis/core/v1/handler.go
  pkg/cli/clean/clean.go
  pkg/component/ctx.go
  pkg/controller/cluster_status.go
  pkg/controller/clustercontroller/controller.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/zz_generated.deepcopy.go
  pkg/server/server.go
Labels: approved, size/L, lgtm, release-note-none, dco-signoff: yes, kind/optimize
