Repository kubeclipper/kubeclipper, pull requests merged in 2022-12, with the labels that each got.

#460 add describe/update cluster e2e test
  test/e2e/cluster/spec.go
Labels: kind/feature, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#461 fix: delete user when user not assigned a role
  pkg/apis/iam/v1/handler.go
Labels: kind/bug, approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#462 update cri registry e2e test (#452)
  test/e2e/cluster/registry.go
  test/e2e/cluster/spec.go
Labels: kind/feature, approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#464 change --pkg,etcd flag default value
  cmd/kcctl/app/options/options.go
  pkg/cli/deploy/deploy.go
  pkg/simple/client/kc/api.go
  pkg/utils/strutil/strutil_test.go
  test/e2e/acl/role.go
  test/e2e/acl/user.go
Labels: approved, size/L, lgtm, release-note-none, dco-signoff: yes, kind/optimize

#465 add online install cluster test spec
  test/e2e/acl/external_user.go
  test/e2e/cluster/registry.go
  test/e2e/cluster/spec.go
  test/e2e/cluster/utils.go
  test/e2e/e2e_test.go
  test/e2e/iam/framework.go
  test/e2e/iam/role.go
  test/e2e/iam/user.go
Labels: approved, lgtm, area/testing, size/M, release-note-none, dco-signoff: yes

#467 change --pkg,etcd flag default value
  cmd/kcctl/app/options/options.go
  pkg/apis/core/v1/schema_test.go
  pkg/apis/core/v1/utils_test.go
  pkg/cli/create/create_cluster.go
  pkg/cli/deploy/deploy.go
  pkg/simple/client/kc/api.go
  pkg/utils/strutil/strutil_test.go
  test/e2e/cluster/registry.go
  test/e2e/cluster/utils.go
  test/framework/test_context.go
Labels: approved, size/L, lgtm, release-note-none, dco-signoff: yes

#468 nfs component e2e test
  test/e2e/cluster/component.go
  test/e2e/cluster/spec.go
  test/framework/cluster/check.go
Labels: approved, size/L, lgtm, release-note-none, dco-signoff: yes

#469 update backup e2e test and add cronBackup e2e test
  pkg/simple/client/kc/api.go
  pkg/simple/client/kc/scheme.go
  test/e2e/cluster/backup.go
  test/e2e/cluster/cronbackup.go
  test/e2e/cluster/spec.go
  test/framework/cluster/wait.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#471 fix: update dockerignore
  .dockerignore
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#472 Fix a problem with kcctl registry loading kc-extension image package
  pkg/cli/registry/registry.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#475 fix: Error deleting backup
  pkg/apis/core/v1/utils.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#470 kubeadm cloud provider e2e test
  pkg/scheme/core/v1/cni/calico.go
  pkg/scheme/core/v1/cni/calico_template.go
  pkg/scheme/core/v1/cri/containerd.go
  pkg/scheme/core/v1/cri/cri.go
  pkg/scheme/core/v1/cri/template.go
  pkg/scheme/core/v1/k8s/script.go
  pkg/simple/client/kc/api.go
  pkg/simple/client/kc/scheme.go
  test/e2e/cluster/cloud_provider.go
  test/e2e/cluster/spec.go
  test/framework/cluster/wait.go
  test/framework/framework.go
Labels: kind/failing-test, approved, lgtm, size/XL, release-note-none, dco-signoff: yes

#477 fix: cluster upgrade patch version check error
  pkg/cli/cluster/cluster_upgrade.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#478 support k8s v1.24 and v1.25
  pkg/cli/registry/registry.go
  pkg/scheme/core/v1/cni/calico.go
  pkg/scheme/core/v1/cni/calico_template.go
  pkg/scheme/core/v1/cri/containerd.go
  pkg/scheme/core/v1/cri/cri.go
  pkg/scheme/core/v1/cri/template.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/template.go
Labels: kind/feature, approved, size/XXL, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#482 add some unit-test for pkg
  pkg/scheme/core/v1/k8s/kubeadm_test.go
  pkg/server/request/request_test.go
  pkg/utils/httputil/http_test.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#484 second add some unit test for pkg
  pkg/client/clientrest/client_test.go
  pkg/client/clientrest/url_utils_test.go
  pkg/clusteroperation/common_test.go
  pkg/component/nfs/nfs_test.go
  pkg/component/utils/registry_test.go
  pkg/component/utils/utils_test.go
  pkg/component/validation/validation_test.go
  pkg/simple/client/kc/request_test.go
  pkg/simple/client/kc/scheme_test.go
Labels: kind/feature, approved, size/XXL, lgtm, release-note-none, dco-signoff: yes

#486 docs: update readme feature
  README.md
  README_zh.md
Labels: approved, kind/documentation, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#487 update readme
  README.md
  README_zh.md
Labels: size/S, approved, kind/documentation, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#485 fix: modify marked words and project exist check api
  pkg/cli/cluster/cluster_upgrade.go
  pkg/simple/client/kc/api.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#488 feat: add create and get cluster api test cases
  test/api/README.md
  test/api/create_get_cluster.yaml
Labels: approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#490 Increase the waiting time for the ks-server http service to start
  pkg/cli/deploy/deploy.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#492 Increase the waiting time for the ks-server http service to start (#490)
  pkg/cli/deploy/deploy.go
Labels: kind/bug, approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#493 refactor: kcctl registry
  go.mod
  go.sum
  pkg/cli/config/template.go
  pkg/cli/registry/client/client.go
  pkg/cli/registry/registry.go
  pkg/cli/utils/download.go
Labels: kind/feature, approved, size/XXL, lgtm, release-note-none, dco-signoff: yes

#494 fix: automatic retry operation
  pkg/clusteroperation/operation.go
  pkg/controller/operationcontroller/controller.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#489 add check whether any cluster is in use before delete backuppoint
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#416 Feat interrupt operation
  api/openapi-spec/swagger.json
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/apis/core/v1/utils.go
  pkg/apis/core/v1/utils_test.go
  pkg/clusteroperation/node.go
  pkg/controller-runtime/manager/manager.go
  pkg/scheme/common/well_known_labels.go
  pkg/scheme/core/v1/operation_types.go
  pkg/server/server.go
  pkg/service/delivery/delivery.go
  tools/doc-gen/main.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#496 feat: kcctl add node-ip-detect parameter
  cmd/kcctl/app/options/options.go
  pkg/agent/agent.go
  pkg/agent/config/config.go
  pkg/apis/core/v1/cri_utils.go
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/apis/core/v1/utils_test.go
  pkg/cli/config/template.go
  pkg/cli/deploy/deploy.go
  pkg/cli/join/join.go
  pkg/clusteroperation/node.go
  pkg/clusteroperation/node_test.go
  pkg/component/ctx.go
  pkg/component/utils/utils.go
  pkg/controller/cluster_status.go
  pkg/controller/clustercontroller/controller.go
  pkg/controller/clustercontroller/metadata.go
  pkg/nodestatus/node_status.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/template.go
  pkg/scheme/core/v1/node_types.go
  pkg/scheme/core/v1/operation_types.go
  pkg/service/task/service.go
Labels: kind/feature, approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#497 fix check server running failed
  pkg/cli/deploy/deploy.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#495 feat: add api test cases for add and remove nodes
  test/api/README.md
  test/api/add_remove_node/nfs_cluster.yaml
  test/api/add_remove_node/one_node_cluster.yaml
  test/api/add_remove_node/two_nodes_cluster.yaml
Labels: approved, lgtm, size/XL, do-not-merge/release-note-label-needed, dco-signoff: yes

#498 fix check server running failed
  pkg/cli/deploy/deploy.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#499 fix: create a cluster with multiple master nodes
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/template.go
Labels: kind/bug, size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#500 fix: terminated operations support retry
  pkg/apis/core/v1/handler.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#502 Add high availability detection for multiple master nodes
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils_test.go
  pkg/clusteroperation/node_test.go
  pkg/component/ctx.go
  pkg/component/nfs/nfs.go
  pkg/component/nfscsi/nfs_csi.go
  pkg/scheme/core/v1/k8s/cluster.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/node.go
  pkg/utils/netutil/netutil.go
  pkg/utils/netutil/netutil_test.go
  test/e2e/cluster/spec.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes
