Repository kubeclipper/kubeclipper, pull requests merged in 2022-08, with the labels that each got.

#57 fix kcctl registry and resource subcommand
  pkg/cli/registry/registry.go
  pkg/cli/resource/resource.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#58 Fix containerd template render
  pkg/scheme/core/v1/cri/containerd_test.go
  pkg/scheme/core/v1/cri/template.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#49 feat: add the K8S mirror proxy setting option
  cmd/kcctl/app/options/options.go
  cmd/kubeclipper-agent/app/options/options.go
  kubeclipper-agent.yaml
  pkg/agent/agent.go
  pkg/agent/config/config.go
  pkg/cli/config/template.go
  pkg/cli/deploy/deploy.go
  pkg/cli/join/join.go
  pkg/component/ctx.go
  pkg/scheme/core/v1/cri/containerd.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/template.go
  pkg/service/task/handler.go
  pkg/service/task/service.go
  pkg/simple/imageproxy/options.go
Labels: kind/feature, approved, size/L, lgtm, dco-signoff: yes, release-note

#65 fix undefined in backup recovery cluster operation log
  pkg/apis/core/v1/utils.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#63 fix creating a backup log record with the same name
  pkg/apis/core/v1/handler.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#60 update cronbackup controller
  pkg/controller/cronbackupcontroller/controller.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#67 fix: delete backup operation name error
  pkg/apis/core/v1/handler.go
  pkg/controller/cronbackupcontroller/controller.go
  pkg/scheme/core/v1/operation_types.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#72 feat: peel calico from the k8s installation package
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#74 fix: avoid got a wrong default gateway.
  pkg/utils/netutil/netutil_linux.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#48 check and download certifications
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/controller/cluster_status.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/zz_generated.deepcopy.go
  pkg/server/config.go
Labels: kind/feature, approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#70 fix: cron backups are not deleted when the cluster is deleted
  pkg/apis/core/v1/handler.go
  pkg/controller/clustercontroller/controller.go
  pkg/controller/cronbackupcontroller/controller.go
  pkg/models/cluster/cluster.go
  pkg/models/cluster/interface.go
  pkg/models/cluster/mock/mock_cluster.go
  pkg/server/registry/cronbackup/strategy.go
  pkg/server/server.go
Labels: kind/bug, approved, size/XXL, lgtm, release-note-none, dco-signoff: yes

#78 fix: add ip detect precheck
  cmd/kcctl/app/options/options.go
  pkg/cli/deploy/deploy.go
  pkg/cli/join/join.go
  pkg/cli/sudo/sudo.go
Labels: approved, lgtm, size/M, kind/flake, release-note-none, dco-signoff: yes

#79 fix: create one-time cron backup should not earlier than the current …
  pkg/apis/core/v1/handler.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#77 fix: support independent update of CNI insecure registry
  pkg/component/common/insecure_registry.go
  pkg/component/nfs/nfs.go
  pkg/component/utils/registry.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#83 unnecessary /kc/configs directory
  pkg/cli/deploy/deploy.go
Labels: kind/cleanup, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#85 update e2e framework and add create aio cluster spec
  pkg/errors/errors.go
  test/e2e/cluster/cluster.go
  test/e2e/cluster/cluster_aio.go
  test/e2e/cluster/cluster_ha.go
  test/e2e/e2e.go
  test/framework/cluster/wait.go
  test/framework/framework.go
  test/framework/timeouts.go
Labels: kind/failing-test, approved, lgtm, area/testing, kind/flake, size/XL, release-note-none, dco-signoff: yes

#86 fix: update cronbackup without updating next schedule time
  pkg/apis/core/v1/handler.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#93 fix: adding nodes and loading CNI images in the K8S cluster
  pkg/apis/core/v1/registry.go
  pkg/apis/core/v1/schema.go
  pkg/apis/core/v1/schema_test.go
  pkg/controller/cluster_status.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/node.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#96 fix: the name of the backup is the cluster name
  pkg/apis/core/v1/handler.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#94 update readme
  README.md
  README_zh.md
Labels: approved, kind/documentation, lgtm, size/M, release-note-none, dco-signoff: yes

#101 fix: i18n typesetting
  hack/make-rules/genswagger.sh
  pkg/component/ctx.go
  pkg/component/nfs/i18n.go
  pkg/logger/logger.go
  pkg/utils/sshutils/scp.go
Labels: size/S, approved, lgtm, release-note-none, dco-signoff: yes

#100 feat: k8s and its components support version linkage
  api/openapi-spec/swagger.json
  pkg/apis/config/v1/handler.go
  pkg/apis/config/v1/registry.go
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/apis/core/v1/utils_test.go
  pkg/cli/resource/resource.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/platform_types.go
  pkg/scheme/core/v1/zz_generated.deepcopy.go
  pkg/scheme/types.go
  pkg/server/server.go
  pkg/simple/client/kc/scheme.go
  tools/doc-gen/main.go
Labels: kind/feature, approved, size/XXL, lgtm, release-note-none, dco-signoff: yes

#104 fix: update ci,upload to oss when add a tag.
  .github/workflows/release.yml
Labels: size/S, approved, lgtm, kind/flake, release-note-none, dco-signoff: yes

#105 update readme
  README.md
  README_zh.md
Labels: approved, size/XS, kind/documentation, lgtm, release-note-none, dco-signoff: yes

#107 fix: add template-view permission to role cluster-view.
  pkg/server/config.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#108 update default pkg to v1.1.0
  pkg/cli/deploy/config.go
  pkg/cli/deploy/deploy.go
Labels: size/S, approved, lgtm, kind/flake, release-note-none, dco-signoff: yes

#109 doc: fix region=CN cmd error & syntax errors
  README.md
  README_zh.md
Labels: approved, kind/documentation, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#81 feat: add node metadata.
  cmd/kcctl/app/options/options.go
  pkg/agent/agent.go
  pkg/agent/config/config.go
  pkg/cli/clean/clean.go
  pkg/cli/config/template.go
  pkg/cli/deploy/config.go
  pkg/cli/deploy/deploy.go
  pkg/cli/deploy/deploy_test.go
  pkg/cli/drain/drain.go
  pkg/cli/join/agent.go
  pkg/cli/join/agent_test.go
  pkg/cli/join/join.go
  pkg/cli/sudo/sudo.go
  pkg/controller/clustercontroller/controller.go
  pkg/nodestatus/node_status.go
  pkg/scheme/common/well_known_labels.go
  pkg/service/task/service.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#116 feat: update calico version
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/template.go
Labels: kind/bug, approved, size/XXL, lgtm, release-note-none, dco-signoff: yes

#98 feat: add create HA cluster e2e test spec
  test/e2e/cluster/cluster_ha.go
Labels: approved, size/L, lgtm, kind/flake, release-note-none, dco-signoff: yes

#118 optimize: use addon uninstall steps when delete cluster direct
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/component/ctx.go
  pkg/component/nfs/nfs.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
Labels: kind/feature, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#124 docs: add features to README
  README.md
  README_zh.md
Labels: approved, kind/documentation, lgtm, size/M, release-note-none, dco-signoff: yes

#127 fix: Remove the action restriction of initComponentExtraCluster
  pkg/apis/core/v1/utils.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#128 add refresh token expires in login response
  pkg/authentication/auth/token.go
  pkg/authentication/oauth/oauth_options.go
Labels: size/S, approved, lgtm, release-note-none, dco-signoff: yes, kind/optimize

#130 remove unused json files
  role.json
  rolebinding.json
  user.json
Labels: kind/cleanup, approved, size/XXL, lgtm, release-note-none, dco-signoff: yes

#117 fix: create month-end cron backup error
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/controller/cronbackupcontroller/controller.go
  pkg/controller/cronbackupcontroller/controller_test.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#132 add oauth login record
  pkg/apis/oauth/handler.go
Labels: approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#141 fix: cluster upgrade
  pkg/scheme/core/v1/k8s/cluster.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#138 backup / recovery and install / uninstall component e2e test
  pkg/component/nfs/nfs.go
  pkg/simple/client/kc/api.go
  pkg/simple/client/kc/request.go
  pkg/simple/client/kc/scheme.go
  test/e2e/cluster/backup.go
  test/e2e/cluster/cluster_aio.go
  test/e2e/cluster/component.go
  test/e2e/cluster/recovery.go
  test/framework/cluster/wait.go
  test/framework/timeouts.go
Labels: kind/feature, approved, lgtm, size/XL, do-not-merge/release-note-label-needed, dco-signoff: yes

#142 add build tags for inject kernel parameter
  Makefile
  hack/lib/golang.sh
  pkg/apis/core/v1/utils.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/script.go
  pkg/scheme/core/v1/k8s/script_unchage.go
Labels: approved, lgtm, size/M, release-note-none, dco-signoff: yes

#145 add --tags for go cmd
  Makefile
Labels: approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#152 fix: import image package during cluster upgrade
  pkg/scheme/core/v1/k8s/cluster.go
Labels: size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#148 fix: update kcctl examples
  pkg/cli/create/create.go
  pkg/cli/create/create_cluster.go
  pkg/cli/create/create_role.go
  pkg/cli/create/create_user.go
  pkg/cli/delete/delete.go
  pkg/cli/join/join.go
  pkg/cli/login/login.go
  pkg/cli/registry/registry.go
  pkg/cli/resource/resource.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#147 feat: update componentmeta api to support component version interaction
  api/openapi-spec/swagger.json
  pkg/apis/config/v1/handler.go
  pkg/apis/config/v1/registry.go
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/apis/core/v1/utils_test.go
  pkg/cli/create/create_cluster.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/types.go
  pkg/scheme/types_test.go
  pkg/server/server.go
  pkg/simple/client/kc/api.go
  pkg/simple/client/kc/scheme.go
  pkg/utils/strutil/strutil.go
  test/e2e/cluster/backup.go
  test/e2e/cluster/cluster_ha.go
  test/e2e/cluster/component.go
  test/e2e/cluster/recovery.go
  tools/doc-gen/main.go
Labels: kind/feature, approved, lgtm, size/XL, do-not-merge/release-note-label-needed, dco-signoff: yes

#135 fix: update containerd config
  go.mod
  go.sum
  pkg/scheme/core/v1/cri/containerd.go
  pkg/scheme/core/v1/cri/containerd_test.go
  pkg/scheme/core/v1/cri/cri.go
  pkg/scheme/core/v1/cri/template.go
Labels: kind/bug, approved, lgtm, size/XL, release-note-none, dco-signoff: yes

#158 refactor build tag
  Makefile
  hack/lib/golang.sh
  pkg/scheme/core/v1/k8s/script.go
  pkg/scheme/core/v1/k8s/script_unchage.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#92 upgrade kubeclipper platform or component
  cmd/kcctl/app/options/options.go
  cmd/kcctl/app/root.go
  pkg/cli/upgrade/upgrade.go
Labels: kind/feature, approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#162 fix: registry cmd remove legacy files
  pkg/cli/registry/registry.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#165 fix: calico v3.22.4 config template image registry is not set
  pkg/scheme/core/v1/k8s/template.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes
