Repository kubeclipper/kubeclipper, pull requests merged in 2022-11, with the labels that each got.

#319 fix: can not remove nfs-csi
  pkg/apis/core/v1/utils.go
  pkg/component/nfscsi/nfs_csi.go
Labels: kind/bug, size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#308 feat: the cni component code is extracted into a separate section
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/component/ctx.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/cni/calico.go
  pkg/scheme/core/v1/cni/calico_template.go
  pkg/scheme/core/v1/cni/calico_test.go
  pkg/scheme/core/v1/cni/cni.go
  pkg/scheme/core/v1/cni/utils.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/kubeadm_test.go
  pkg/scheme/core/v1/k8s/node.go
  pkg/scheme/core/v1/k8s/template.go
Labels: approved, size/XXL, lgtm, release-note-none, dco-signoff: yes, kind/optimize

#321 fix: edit no description s3 backuppoint error
  pkg/apis/core/v1/handler.go
  pkg/scheme/core/v1/backuppoint_types.go
  test/e2e/cluster/backup.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#320 update docker version
  pkg/cli/registry/registry.go
Labels: size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#306 feat: project user and role binding under project
  pkg/apis/iam/v1/handler.go
  pkg/apis/iam/v1/registry.go
  pkg/models/iam/iam.go
  pkg/models/iam/interface.go
  pkg/models/iam/mock/mock_iam.go
  pkg/models/iam/utils.go
  pkg/query/query.go
  pkg/scheme/iam/v1/iam.go
  pkg/scheme/iam/v1/registry.go
  pkg/scheme/iam/v1/zz_generated.deepcopy.go
  pkg/server/registry/factory.go
  pkg/server/registry/projectrole/rest.go
  pkg/server/registry/projectrole/strategy.go
  pkg/server/registry/projectrolebinding/rest.go
  pkg/server/registry/projectrolebinding/strategy.go
  pkg/server/server.go
  tools/doc-gen/main.go
Labels: kind/feature, approved, size/XXL, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#324 check master node availability status before cluster recovery
  pkg/apis/core/v1/utils.go
  pkg/component/ctx.go
  pkg/controller/cluster_status.go
  pkg/scheme/core/v1/k8s/cluster.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#322 add ForceIgnoreError option to delivery service
  api/openapi-spec/swagger.json
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/query/query.go
  pkg/service/delivery/delivery.go
  pkg/service/msg.go
Labels: kind/feature, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#325 fix: worker node CRI registry init
  pkg/apis/core/v1/schema.go
  pkg/apis/core/v1/utils.go
  pkg/scheme/core/v1/cri/containerd.go
  pkg/scheme/core/v1/cri/containerd_test.go
  pkg/scheme/core/v1/cri/cri.go
  pkg/scheme/core/v1/cri/docker.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#327 fix: cluster master node unhealthy before recovery without indication
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#326 feat: update authorizer to support project scope
  api/openapi-spec/swagger.json
  pkg/apis/iam/v1/handler.go
  pkg/apis/tenant/v1/handler.go
  pkg/apis/tenant/v1/registry.go
  pkg/authorization/authorizer/authorizer.go
  pkg/authorization/authorizer/interface.go
  pkg/authorization/rbac/rbac.go
  pkg/controller/projectcontroller/controller.go
  pkg/models/iam/iam.go
  pkg/models/iam/iam_test.go
  pkg/models/models.go
  pkg/models/tenant/project.go
  pkg/scheme/common/well_known_labels.go
  pkg/scheme/iam/v1/iam.go
  pkg/server/config.go
  pkg/server/filters/authorization.go
  pkg/server/request/request.go
  pkg/server/request/request_test.go
  pkg/server/server.go
  tools/doc-gen/main.go
Labels: kind/feature, approved, size/XXL, lgtm, release-note-none, dco-signoff: yes

#331 fix: The backup name is not the same as the backup file name
  pkg/apis/core/v1/handler.go
  pkg/controller/cronbackupcontroller/controller.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#330 fix: Error adding nodes to nano import-cluster with cni limit
  pkg/apis/core/v1/schema.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/node.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#332 update readme
  README.md
  README_zh.md
Labels: approved, size/L, kind/documentation, lgtm, release-note-none, dco-signoff: yes

#334 fix: create cluster CRI init
  pkg/apis/core/v1/handler.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#333 ci: add e2e test workflow
  .github/workflows/aio.yaml
Labels: approved, lgtm, area/testing, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes, kind/workflow

#336 add check step before install nfs-csi
  pkg/component/nfscsi/nfs_csi.go
Labels: kind/feature, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#337 Revert "ci: add e2e test workflow"
  .github/workflows/aio.yaml
Labels: approved, lgtm, size/M, release-note-none, dco-signoff: yes

#339 import cluster fix: Backup point reset / missing etcdctl / recovery r…
  pkg/cli/deploy/deploy.go
  pkg/clustermanage/kubeadm/provider.go
  pkg/scheme/core/v1/cni/calico.go
  pkg/scheme/core/v1/cni/cni.go
  pkg/scheme/core/v1/k8s/cluster.go
  pkg/scheme/core/v1/k8s/k8s.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/node.go
Labels: approved, size/L, lgtm, release-note-none, dco-signoff: yes

#342 fix the exception of deleting cloudprovider
  pkg/clustermanage/kubeadm/provider.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#343 fix: import cluster recovery bug
  pkg/scheme/core/v1/cni/calico.go
  pkg/scheme/core/v1/cni/cni.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#345 Fix the bug that importing clusters cannot use kubectl terminal
  pkg/clustermanage/kubeadm/provider.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/template.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#348 fix create cluster e2e spec
  test/e2e/cluster/cluster_aio.go
  test/e2e/cluster/cluster_ha.go
Labels: kind/failing-test, approved, size/XS, lgtm, area/testing, release-note-none, dco-signoff: yes

#347 fix: add worker node not install addon component
  pkg/apis/core/v1/handler.go
  pkg/component/ctx.go
  pkg/component/utils/utils.go
  pkg/scheme/core/v1/k8s/node.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#350 fix import cluster label
  pkg/clustermanage/kubeadm/provider.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#352 add e2e spec install aio cluster timeout parameter
  test/framework/test_context.go
  test/framework/timeouts.go
Labels: approved, size/XS, lgtm, area/testing, kind/flake, release-note-none, dco-signoff: yes

#353 ci: add e2e aio check in workflow
  .github/workflows/test-aio.yml
Labels: approved, lgtm, area/testing, size/M, release-note-none, dco-signoff: yes

#341 feat: add cluster's projects scope api
  api/openapi-spec/swagger.json
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/apis/core/v1/utils_test.go
  pkg/apis/iam/v1/handler.go
  pkg/apis/iam/v1/registry.go
  pkg/apis/tenant/v1/handler.go
  pkg/apis/tenant/v1/registry.go
  pkg/controller/projectcontroller/controller.go
  pkg/models/iam/iam.go
  pkg/models/iam/interface.go
  pkg/models/iam/mock/mock_iam.go
  pkg/query/query.go
  pkg/scheme/common/well_known_labels.go
  pkg/server/config.go
  pkg/server/request/request.go
  pkg/server/server.go
  tools/doc-gen/main.go
Labels: approved, size/XXL, lgtm, release-note-none, dco-signoff: yes

#357 fix getting the target branch name
  .github/workflows/test-aio.yml
Labels: kind/bug, size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#356 fix: Failed to create one master one worker cluster with component without specifying the registry
  pkg/component/nfs/nfs.go
  pkg/component/nfscsi/nfs_csi.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#360 add --force for kcctl delete cluster
  pkg/apis/core/v1/handler.go
  pkg/cli/delete/delete.go
  pkg/cli/registry/registry.go
  pkg/clustermanage/kubeadm/provider.go
  pkg/simple/client/kc/api.go
Labels: approved, lgtm, size/M, release-note-none, dco-signoff: yes, kind/optimize

#364 Refactor downloader
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/component/common/check_csi_install.go
  pkg/component/common/image.go
  pkg/component/common/insecure_registry.go
  pkg/component/interface.go
  pkg/component/nfs/nfs.go
  pkg/component/nfscsi/nfs_csi.go
  pkg/scheme/core/v1/k8s/node.go
  pkg/simple/downloader/downloader.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#367 fix: plugin registry config error (#361)
  .github/workflows/test-aio.yml
  pkg/component/common/image.go
  pkg/component/nfs/nfs.go
  pkg/component/nfscsi/nfs_csi.go
Labels: approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#369 fix: Check csi health step is not idempotent
  pkg/component/common/check_csi_install.go
Labels: kind/feature, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#371 fix: The month-end cronbackup cannot be edited
  pkg/apis/core/v1/handler.go
  pkg/controller/cronbackupcontroller/controller.go
  pkg/controller/cronbackupcontroller/controller_test.go
Labels: kind/feature, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#374 cherry-pick (#359) to master
  go.mod
  go.sum
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/apis/core/v1/utils.go
  pkg/apis/core/v1/utils_test.go
  pkg/apis/iam/v1/handler.go
  pkg/apis/proxy/handler.go
  pkg/apis/proxy/registry.go
  pkg/apis/tenant/v1/handler.go
  pkg/authorization/authorizer/interface.go
  pkg/authorization/rbac/rbac.go
  pkg/authorization/rbac/rbac_test.go
  pkg/server/config.go
  pkg/server/filters/authorization.go
  pkg/server/request/request.go
  pkg/server/request/response.go
  pkg/server/server.go
  tools/doc-gen/main.go
Labels: approved, lgtm, size/XL, release-note-none, dco-signoff: yes

#372 feat: support specify project when create provider
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/clustermanage/kubeadm/provider.go
  pkg/controller/projectcontroller/controller.go
  pkg/models/cluster/cluster.go
  test/e2e/cluster/cluster_ha.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#379 update the code of month-end cronbackup
  pkg/apis/core/v1/handler.go
  pkg/controller/cronbackupcontroller/controller.go
  pkg/controller/cronbackupcontroller/controller_test.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#380 feat: support external ca certificate import when creating a cluster
  pkg/cli/create/create_cluster.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
Labels: kind/feature, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#382 optimize force drain node and delete cluster
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/cli/drain/drain.go
  pkg/service/delivery/delivery.go
Labels: approved, lgtm, size/M, release-note-none, dco-signoff: yes, kind/optimize

#385 cherrypick: optimize force drain node and delete cluster (#382)
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/cli/drain/drain.go
  pkg/service/delivery/delivery.go
Labels: approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#386 fix: import cluster remove local-registry
  pkg/clustermanage/kubeadm/wrapper.go
Labels: kind/cleanup, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#389 optimize: add simple retry for get cluster certificate
  pkg/controller/cluster_status.go
Labels: kind/bug, size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#392 kcctl tool to create cluster, missing cartsans parameter
  pkg/cli/create/create_cluster.go
  pkg/cli/login/login.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#395 the kcctl tool to create a cluster is missing the project parameter
  pkg/cli/create/create_cluster.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#398 fix plugin cri registry
  pkg/apis/core/v1/cri_utils.go
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/apis/core/v1/utils_test.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#400 cherry pick #398 to release-1.3
  pkg/apis/core/v1/cri_utils.go
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/apis/core/v1/utils_test.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#397 The imported cluster is missing the kubectl terminal image
  pkg/clustermanage/kubeadm/provider.go
  pkg/clustermanage/kubeadm/wrapper.go
  pkg/scheme/core/v1/k8s/template.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#402 Importing a cluster kubeconfig decode
  pkg/clustermanage/kubeadm/wrapper.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#408 Incorrect component image load order causes service exceptions
  pkg/scheme/core/v1/k8s/node.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#406 fix: Edit cronbackup to month-end display error
  pkg/apis/core/v1/handler.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#403 feat: add workflow to build kc-server image
  .dockerignore
  .github/workflows/build-kc-image.yml
  Dockerfile
  deploy/etcd-sts.yaml
  deploy/kc-server.yaml
  hack/lib/golang.sh
Labels: approved, size/L, lgtm, kind/flake, release-note-none, dco-signoff: yes, kind/workflow

#413 update cluster struct json tag
  api/openapi-spec/swagger.json
  pkg/scheme/core/v1/cluster_types.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#412 Refactor add-or-remove cluster node operation feature
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/apis/core/v1/schema.go
  pkg/apis/core/v1/schema_test.go
  pkg/apis/core/v1/utils.go
  pkg/clustermanage/kubeadm/provider.go
  pkg/clustermanage/kubeadm/wrapper.go
  pkg/clusteroperation/common.go
  pkg/clusteroperation/node.go
  pkg/clusteroperation/node_test.go
  pkg/clusteroperation/operation.go
  pkg/component/common/image.go
  pkg/component/ctx.go
  pkg/controller/clustercontroller/controller.go
  pkg/controller/clustercontroller/metadata.go
  pkg/controller/operationcontroller/controller.go
  pkg/scheme/common/well_known_labels.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/operation_types.go
  pkg/scheme/core/v1/zz_generated.deepcopy.go
  pkg/server/server.go
  pkg/service/task/handler.go
  pkg/simple/client/kc/api.go
  test/e2e/cluster/add_node.go
Labels: kind/feature, approved, size/XXL, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#415 fix: cluster struct feild json-tag (#413)
  api/openapi-spec/swagger.json
  pkg/scheme/core/v1/cluster_types.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#409 feat: kcctl deploy support https
  cmd/kcctl/app/options/options.go
  cmd/kubeclipper-server/app/options/options.go
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/apis/core/v1/utils_test.go
  pkg/cli/config/template.go
  pkg/cli/deploy/deploy.go
  pkg/cli/login/login.go
  pkg/client/clientrest/transport.go
  pkg/controller-runtime/manager/manager.go
  pkg/server/server.go
  pkg/simple/client/kc/client.go
  pkg/simple/client/kc/options.go
  pkg/simple/client/kc/request.go
  pkg/simple/generic/options.go
  tools/doc-gen/main.go
Labels: approved, size/L, lgtm, dco-signoff: yes, release-note

#420 fix: support query global resource in project
  api/openapi-spec/swagger.json
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/models/cluster/cluster.go
  pkg/models/models.go
  pkg/query/query.go
  pkg/query/query_test.go
  pkg/server/restplus/multi_watch.go
  pkg/server/restplus/multi_watch_test.go
Labels: kind/bug, approved, lgtm, size/XL, release-note-none, dco-signoff: yes

#421 cluster template and addon template e2e test
  pkg/simple/client/kc/api.go
  pkg/simple/client/kc/scheme.go
  test/e2e/cluster/template_addon.go
  test/e2e/cluster/template_cluster.go
Labels: kind/failing-test, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#417 feat: support specify password when deploy
  cmd/kcctl/app/options/options.go
  go.mod
  go.sum
  pkg/authentication/options/options.go
  pkg/cli/config/template.go
  pkg/cli/deploy/deploy.go
  pkg/clustermanage/kubeadm/provider.go
  pkg/clustermanage/kubeadm/wrapper.go
  pkg/server/config.go
  pkg/server/server.go
Labels: kind/feature, approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#423 test: add cluster cert update e2e test
  pkg/simple/client/kc/api.go
  test/e2e/cluster/cluster_aio_cert.go
  test/framework/cluster/wait.go
Labels: approved, size/L, lgtm, release-note-none, dco-signoff: yes

#425 force delete cluster e2e test
  test/e2e/cluster/delete_cluster.go
Labels: approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#424 cri registry e2e test
  pkg/simple/client/kc/api.go
  test/e2e/cluster/cri_registry.go
  test/framework/cluster/wait.go
Labels: approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#430 cluster and addon e2e test
  pkg/simple/client/kc/api.go
  pkg/simple/client/kc/scheme.go
  test/e2e/cluster/template_addon.go
  test/e2e/cluster/template_cluster.go
Labels: kind/failing-test, approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#432 test: add cluster cert update e2e test (#423)
  pkg/simple/client/kc/api.go
  test/e2e/cluster/cluster_aio_cert.go
  test/framework/cluster/wait.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#434 force drain node e2e test
  test/e2e/cluster/template_addon.go
  test/e2e/cluster/template_cluster.go
  test/e2e/node/drain_node.go
  test/framework/cluster/wait.go
Labels: kind/feature, approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#433 cri registry e2e test
  pkg/simple/client/kc/api.go
  test/e2e/cluster/cri_registry.go
  test/framework/cluster/wait.go
Labels: approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#436 fix: modify kc-console ca delivery node
  pkg/cli/deploy/deploy.go
  test/e2e/cluster/cluster_aio_cert.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#438 force drain node e2e test
  test/e2e/cluster/template_addon.go
  test/e2e/cluster/template_cluster.go
  test/e2e/node/drain_node.go
  test/framework/cluster/wait.go
Labels: kind/feature, approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#437 test: add join、drain node e2e test
  test/e2e/cluster/cri_registry.go
  test/e2e/cluster/delete_cluster.go
  test/e2e/node/join_node.go
  test/framework/cluster/node.go
  test/framework/cluster/wait.go
Labels: approved, size/L, lgtm, release-note-none, dco-signoff: yes

#446 fix: pull pause image registry
  pkg/scheme/core/v1/cri/containerd.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#444 feat: add kcctl upgrade cluster verison command
  cmd/kcctl/app/root.go
  pkg/authentication/options/options.go
  pkg/cli/cluster/cluster.go
  pkg/cli/cluster/cluster_upgrade.go
  pkg/cli/create/create_cluster.go
  pkg/cli/deploy/deploy.go
  pkg/cli/registry/registry.go
  pkg/cli/resource/resource.go
  pkg/simple/client/kc/api.go
Labels: approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#448 update e2e
  .github/workflows/test-aio.yml
  test/e2e/cluster/add_node.go
  test/e2e/cluster/backup.go
  test/e2e/cluster/cluster_aio.go
  test/e2e/cluster/cluster_aio_cert.go
  test/e2e/cluster/cluster_ha.go
  test/e2e/cluster/component.go
  test/e2e/cluster/cri_registry.go
  test/e2e/cluster/delete_cluster.go
  test/e2e/cluster/recovery.go
  test/e2e/cluster/registry.go
  test/e2e/cluster/spec.go
  test/e2e/cluster/template.go
  test/e2e/cluster/template_cluster.go
  test/e2e/cluster/upgrade.go
  test/e2e/cluster/utils.go
  test/e2e/demo/demo.go
  test/e2e/demo/framework.go
  test/e2e/e2e_test.go
  test/e2e/kcctl/kcctl.go
  test/e2e/node/disable_node.go
  test/e2e/node/drain_node.go
  test/e2e/node/join_node.go
  test/e2e/project/project.go
  test/framework/framework.go
  test/framework/test_context.go
Labels: approved, size/XXL, lgtm, area/testing, release-note-none, dco-signoff: yes

#450 feat: kc node info and detail e2e test
  test/e2e/cluster/spec.go
  test/e2e/cluster/utils.go
  test/e2e/kcctl/drain_node.go
  test/e2e/kcctl/framework.go
  test/e2e/kcctl/join_node.go
  test/e2e/kcctl/kcctl.go
  test/e2e/node/disable_node.go
  test/e2e/node/spec.go
  test/e2e/node/terminal.go
  test/framework/cluster/wait.go
  test/framework/node/node.go
  test/framework/wait.go
Labels: approved, lgtm, kind/flake, size/XL, do-not-merge/release-note-label-needed, dco-signoff: yes

#452 update cri registry e2e test
  test/e2e/cluster/registry.go
  test/e2e/cluster/spec.go
Labels: approved, size/L, lgtm, area/testing, do-not-merge/release-note-label-needed, dco-signoff: yes

#453 update k8s cluster service and pod cidr
  pkg/apis/core/v1/schema_test.go
  pkg/apis/core/v1/utils_test.go
  pkg/cli/create/create_cluster.go
  pkg/constatns/constats.go
  pkg/scheme/core/v1/cni/calico_test.go
  pkg/scheme/core/v1/k8s/kubeadm_test.go
  test/e2e/cluster/utils.go
  test/framework/test_context.go
Labels: approved, kind/design, lgtm, size/M, release-note-none, dco-signoff: yes

#455 update e2e framework
  .github/workflows/test-aio.yml
  pkg/apis/core/v1/schema_test.go
  pkg/apis/core/v1/utils_test.go
  pkg/cli/create/create_cluster.go
  test/e2e/cluster/spec.go
  test/e2e/cluster/utils.go
  test/e2e/e2e.go
  test/e2e/kcctl/drain_node.go
  test/e2e/kcctl/join_node.go
  test/e2e/kcctl/kcctl.go
  test/e2e/node/spec.go
  test/e2e/region/region.go
  test/e2e/suites.go
  test/framework/framework.go
  test/framework/test_context.go
Labels: approved, size/L, lgtm, area/testing, release-note-none, dco-signoff: yes

#457 test: add cluster detail e2e test
  pkg/simple/client/kc/api.go
  test/e2e/cluster/spec.go
Labels: approved, lgtm, size/M, kind/flake, release-note-none, dco-signoff: yes

#458 fix: add empty project check in create cluster api
  pkg/apis/core/v1/handler.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes
