Repository kubeclipper/kubeclipper, pull requests merged in 2022-09, with the labels that each got.

#167 fix: kcctl resource remove unnecessary ssh parmeter.
  pkg/cli/clean/clean.go
  pkg/cli/create/create.go
  pkg/cli/delete/delete.go
  pkg/cli/drain/drain.go
  pkg/cli/get/get.go
  pkg/cli/join/join.go
  pkg/cli/login/login.go
  pkg/cli/registry/registry.go
  pkg/cli/resource/resource.go
  pkg/cli/resource/resource_test.go
Labels: approved, size/L, lgtm, kind/flake, release-note-none, dco-signoff: yes

#160 fix: update aio deploy without ssh config.
  pkg/cli/deploy/deploy.go
  pkg/cli/drain/drain.go
  pkg/cli/join/join.go
  pkg/cli/proxy/deploy.go
  pkg/cli/proxy/tunnel.go
  pkg/cli/upgrade/upgrade.go
  pkg/cli/utils/download.go
  pkg/cli/utils/file.go
  pkg/utils/sshutils/cmd.go
  pkg/utils/sshutils/cmd_test.go
  pkg/utils/sshutils/scp.go
  pkg/utils/sshutils/ssh.go
  pkg/utils/sshutils/ssh2cmd.go
  pkg/utils/sshutils/ssh_v2.go
  pkg/utils/sshutils/ssh_v2_test.go
  pkg/utils/sshutils/sshcmd.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#176 [release-1.1] fix: update aio deploy without ssh config.
  pkg/cli/deploy/deploy.go
  pkg/cli/drain/drain.go
  pkg/cli/join/join.go
  pkg/cli/utils/download.go
  pkg/cli/utils/file.go
  pkg/controller/cronbackupcontroller/controller_test.go
  pkg/utils/sshutils/cmd.go
  pkg/utils/sshutils/cmd_test.go
  pkg/utils/sshutils/scp.go
  pkg/utils/sshutils/ssh.go
  pkg/utils/sshutils/ssh2cmd.go
  pkg/utils/sshutils/ssh_v2.go
  pkg/utils/sshutils/ssh_v2_test.go
  pkg/utils/sshutils/sshcmd.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#178 update cron schedule parse and unit test
  pkg/controller/cronbackupcontroller/controller.go
  pkg/controller/cronbackupcontroller/controller_test.go
  pkg/server/server.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#180 update cron schedule parse and unit test (#178)
  pkg/controller/cronbackupcontroller/controller.go
  pkg/controller/cronbackupcontroller/controller_test.go
  pkg/server/server.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#181 update kernel parameter
  pkg/scheme/core/v1/k8s/script.go
Labels: size/S, approved, lgtm, release-note-none, dco-signoff: yes, kind/optimize

#184 fix: update proxy deploy cmd's untar path.
  pkg/cli/proxy/deploy.go
  pkg/proxy/proxy.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#182 fix: create renamed template without reporting error
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#151 improve api error handle (#150)
  pkg/server/restplus/errors.go
Labels: size/S, approved, lgtm, release-note-none, dco-signoff: yes

#189 kubeadm join node failed
  pkg/scheme/core/v1/k8s/kubeadm.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#193 fix: join node's installCNI step failed.
  pkg/scheme/core/v1/k8s/kubeadm_step.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#185 Failed to update the K8S cluster certificate
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/controller/cluster_status.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
Labels: kind/bug, approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#198 fix: update search time service keywords
  pkg/cli/deploy/deploy.go
Labels: approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#200 update the kcctl installation documentation
  README.md
  README_zh.md
Labels: kind/bug, size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#190 fix: create conbackups with same name between clusters error
  pkg/apis/core/v1/handler.go
  pkg/models/cluster/cluster.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#202 kc upgrade package nest
  pkg/cli/upgrade/upgrade.go
Labels: kind/bug, size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#204 ctr image import added --all-platforms flags
  pkg/component/utils/utils.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#208 fix: remove kubelet dir when delete cluster
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/utils.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#210 add configmap resource
  hack/gen-registry/strategy.tmpl
  pkg/models/core/configmap.go
  pkg/models/core/interface.go
  pkg/scheme/core/v1/configmap_types.go
  pkg/scheme/core/v1/registry.go
  pkg/scheme/core/v1/zz_generated.deepcopy.go
  pkg/server/registry/configmap/rest.go
  pkg/server/registry/configmap/strategy.go
  pkg/server/registry/factory.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#211 cleanup unused code
  pkg/component/ctx.go
  pkg/component/interface.go
  pkg/models/cluster/utils.go
  pkg/models/interface.go
  pkg/scheme/core/v1/cri/containerd.go
  pkg/scheme/core/v1/cri/containerd_test.go
  pkg/scheme/core/v1/cri/cri.go
  pkg/scheme/core/v1/cri/docker.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/recovery_types.go
Labels: kind/cleanup, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#212 add API for configmap
  api/openapi-spec/swagger.json
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/apis/core/v1/utils_test.go
  pkg/models/core/configmap.go
  pkg/models/core/interface.go
  pkg/scheme/core/v1/configmap_types.go
  pkg/server/config.go
  pkg/server/server.go
  pkg/simple/client/kc/api.go
  pkg/simple/client/kc/scheme.go
  tools/doc-gen/main.go
Labels: kind/feature, approved, lgtm, size/XL, release-note-none, dco-signoff: yes

#213 upload platform config after deploy
  pkg/cli/deploy/deploy.go
  pkg/constatns/constats.go
  pkg/scheme/core/v1/registry.go
  pkg/server/config.go
  pkg/simple/client/kc/api.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#207 add kcctl conection port configurable
  cmd/kcctl/app/options/options.go
  pkg/cli/deploy/deploy.go
  pkg/utils/sshutils/ssh.go
Labels: kind/feature, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#215 modify "no support" note
  pkg/apis/core/v1/schema.go
  pkg/apis/core/v1/utils.go
  pkg/cli/deploy/deploy.go
  pkg/scheme/core/v1/cri/containerd.go
  pkg/scheme/core/v1/cri/docker.go
  pkg/scheme/core/v1/k8s/cluster.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/node.go
  pkg/server/config.go
Labels: kind/bug, approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#220 remove fatal logger and cleanup unused code
  pkg/cli/upgrade/upgrade.go
  pkg/cli/utils/download.go
  pkg/utils/sshutils/cmd.go
  pkg/utils/sshutils/md5sum.go
  pkg/utils/sshutils/md5sum_test.go
  pkg/utils/sshutils/scp.go
  pkg/utils/sshutils/scp_test.go
  pkg/utils/sshutils/ssh.go
  pkg/utils/sshutils/ssh_v2.go
  pkg/utils/sshutils/ssh_v2_test.go
  pkg/utils/sshutils/sudo_test.go
Labels: kind/cleanup, approved, lgtm, size/XL, release-note-none, dco-signoff: yes

#221 fxi: typo
  pkg/cli/drain/drain.go
  pkg/cli/join/join.go
Labels: approved, size/XS, lgtm, kind/flake, release-note-none, dco-signoff: yes

#222 optimize log format
  go.mod
  go.sum
  pkg/cli/deploy/deploy.go
  pkg/cli/utils/download.go
  pkg/utils/sshutils/scp.go
Labels: approved, size/L, lgtm, dco-signoff: yes, release-note, kind/optimize

#231 feat: add provider precheck api and permissions
  api/openapi-spec/swagger.json
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/clustermanage/interface.go
  pkg/clustermanage/mock/mock.go
  pkg/controller/cloudpprovidercontroller/mock.go
  pkg/server/config.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#224 fix: drain istio node failed
  pkg/scheme/core/v1/k8s/node.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#233 fix: permissions
  pkg/server/config.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#232 fix: provider add status field
  api/openapi-spec/swagger.json
  go.mod
  go.sum
  pkg/apis/core/v1/handler.go
  pkg/clustermanage/mock/mock.go
  pkg/controller/cloudpprovidercontroller/mock.go
  pkg/models/cluster/interface.go
  pkg/scheme/core/v1/cloudprovider_types.go
  pkg/scheme/core/v1/zz_generated.deepcopy.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#235 fix: after cluster recovery kubeproxy pod pengding
  pkg/apis/core/v1/utils.go
  pkg/scheme/core/v1/k8s/cluster.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#227 fix: Port occupation when creating a cluster with the runtime is cont…
  pkg/scheme/core/v1/k8s/kubeadm.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#236 fix: provider update ignore status,rename terminating to removing
  pkg/apis/core/v1/handler.go
  pkg/controller/cloudpprovidercontroller/mock.go
  pkg/scheme/core/v1/cloudprovider_types.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#237 fix kubelet data dir do not take effect
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/node.go
  pkg/scheme/core/v1/k8s/template.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#239 fix: add check install step for nfs
  pkg/component/common/check_csi_install.go
  pkg/component/nfs/nfs.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#240 bump go version from 1.18 to 1.19
  .github/workflows/build-kc.yml
  .github/workflows/code-check-test.yml
  .github/workflows/generate-kcctl-docs.yml
  .github/workflows/release.yml
  .github/workflows/test-coverage.yml
  .golangci.yml
  Makefile
  go.mod
  pkg/apis/iam/v1/handler.go
  pkg/auditing/audit.go
  pkg/auditing/audit_test.go
  pkg/authentication/identityprovider/oidc/oidc.go
  pkg/authentication/mfa/sms/common.go
  pkg/authentication/mfa/sms/dq.go
  pkg/cli/deploy/deploy.go
  pkg/cli/drain/drain.go
  pkg/cli/join/join.go
  pkg/cli/logger/logger.go
  pkg/cli/proxy/deploy.go
  pkg/cli/resource/resource.go
  pkg/cli/upgrade/upgrade.go
  pkg/cli/utils/download_test.go
  pkg/component/nfs/nfs.go
  pkg/component/utils/registry.go
  pkg/controller-runtime/handler/enqueue_owner.go
  pkg/controller-runtime/reconcile/reconcile.go
  pkg/leaderelect/leaderelect.go
  pkg/models/cluster/cluster.go
  pkg/scheme/core/v1/k8s/cluster.go
  pkg/scheme/core/v1/k8s/node.go
  pkg/scheme/core/validation/validation_node_test.go
  pkg/scheme/types.go
  pkg/server/filters/util.go
  pkg/server/server.go
  pkg/service/delivery/delivery_test.go
  pkg/service/task/service.go
  pkg/simple/backupstore/s3_test.go
  pkg/simple/client/kc/client.go
  pkg/simple/client/kc/request.go
  pkg/simple/downloader/downloader.go
  pkg/utils/certs/certs.go
  pkg/utils/fileutil/file_test.go
  pkg/utils/fileutil/ioutil_test.go
  pkg/utils/httputil/http.go
  pkg/utils/sshutils/ssh.go
  pkg/utils/sshutils/ssh_ws_session.go
  test/framework/log.go
  tools/doc-gen/main.go
  tools/kcctldocs-gen/generators/gen.go
Labels: kind/cleanup, approved, lgtm, size/XL, dco-signoff: yes, release-note, kind/optimize

#241 update README
  README.md
  README_zh.md
Labels: approved, size/XS, kind/documentation, lgtm, release-note-none, dco-signoff: yes

#242 fix: kcctl clean kc env file
  pkg/cli/clean/clean.go
  pkg/cli/registry/registry.go
Labels: kind/bug, size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes
