Repository kubeclipper/kubeclipper, pull requests merged in 2022-07, with the labels that each got.

#1 add workflows
  .github/workflows/build-kc.yml
  .github/workflows/code-check-test.yml
  .github/workflows/generate-kcctl-docs.yml
  .github/workflows/release.yml
  Makefile
  deploy/kcctl-docs.yaml
  pkg/utils/sysutil/net_linux_test.go
Labels: approved, size/L, lgtm, kind/flake, release-note-none

#5 fix: recovery operation name repeat
  pkg/scheme/core/v1/k8s/cluster.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#9 fix github action build
  .github/workflows/build-kc.yml
Labels: approved, size/XS, lgtm, kind/flake, release-note-none, dco-signoff: yes

#7 change the IDelivery interface
  pkg/service/service.go
Labels: approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#13 update readme badges
  README.md
  README_zh.md
  docs/img/kubeclipper.gif
Labels: approved, kind/documentation, lgtm, size/M, release-note-none, dco-signoff: yes

#23 fix deleting abnormal k8s cluster
  pkg/component/nfs/nfs.go
  pkg/scheme/core/v1/cri/containerd.go
  pkg/scheme/core/v1/cri/docker.go
  pkg/scheme/core/v1/k8s/cluster.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/service/delivery/delivery.go
  pkg/utils/cmdutil/cmdutil.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#14 feat: kubelet support --root-dir
  api/openapi-spec/swagger.json
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/k8s/cluster.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/template.go
  pkg/scheme/core/v1/zz_generated.deepcopy.go
Labels: kind/feature, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#28 fix: add cluster.kubeconfig field for kubectl console.
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/apis/core/v1/utils_test.go
  pkg/controller-runtime/client/kubernetes.go
  pkg/controller-runtime/client/kubernetes_test.go
  pkg/controller/clustercontroller/controller.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/zz_generated.deepcopy.go
  pkg/server/server.go
  pkg/utils/sshutils/web_terminal.go
  tools/doc-gen/main.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#30 fix backup cluster has no operation logs
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/apis/core/v1/utils_test.go
  pkg/scheme/core/v1/k8s/cluster.go
  pkg/simple/backupstore/filesystem.go
  pkg/simple/backupstore/s3.go
  pkg/simple/backupstore/store.go
Labels: kind/bug, approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#31 fixed an operation log generated when an error occurred while creating a cluster backup
  pkg/apis/core/v1/handler.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#33 fix: spilt permission.
  pkg/server/config.go
  pkg/server/server.go
  role.json
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#35 docs: add quick start.
  README.md
  README_zh.md
  docs/img/console-login.png
Labels: approved, size/L, kind/documentation, lgtm, release-note-none, dco-signoff: yes

#21 add cronbackup implementation
  go.mod
  go.sum
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/apis/core/v1/utils.go
  pkg/client/clientset/versioned/typed/core/v1/backuppoint.go
  pkg/client/clientset/versioned/typed/core/v1/core_client.go
  pkg/client/clientset/versioned/typed/core/v1/cronbackup.go
  pkg/client/informers/core/v1/backuppoint.go
  pkg/client/informers/core/v1/cronbackup.go
  pkg/client/informers/core/v1/interface.go
  pkg/client/lister/core/v1/backuppoint.go
  pkg/client/lister/core/v1/cronbackup.go
  pkg/client/lister/core/v1/expansion.go
  pkg/controller/cronbackupcontroller/controller.go
  pkg/models/cluster/cluster.go
  pkg/models/cluster/interface.go
  pkg/models/cluster/mock/mock_cluster.go
  pkg/scheme/common/well_known_labels.go
  pkg/scheme/core/v1/cronbackup_types.go
  pkg/scheme/core/v1/registry.go
  pkg/scheme/core/v1/zz_generated.deepcopy.go
  pkg/server/config.go
  pkg/server/registry/cronbackup/rest.go
  pkg/server/registry/cronbackup/strategy.go
  pkg/server/registry/factory.go
  pkg/server/server.go
Labels: kind/feature, approved, size/XXL, lgtm, release-note-none, dco-signoff: yes

#34 fix: Backup points cannot be deleted when in use
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/apis/core/v1/utils_test.go
  pkg/controller/cronbackupcontroller/controller.go
  pkg/scheme/core/v1/backup_types.go
Labels: kind/bug, approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#46 fix kcctl the default installation package path is incorrect
  pkg/cli/deploy/deploy.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#44 fix PR template have irrelevant keywords
  .github/PULL_REQUEST_TEMPLATE.md
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#51 fix get terminal encrypt key error
  pkg/apis/config/v1/handler.go
  pkg/controller/cluster_status.go
  pkg/server/config.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#53 update deepcopy
  pkg/scheme/core/v1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/M, kind/flake, release-note-none, dco-signoff: yes

#55 feat: cluster struct update
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/schema.go
  pkg/apis/core/v1/schema_test.go
  pkg/apis/core/v1/utils.go
  pkg/apis/core/v1/utils_test.go
  pkg/cli/create/create_cluster.go
  pkg/controller/backupcontroller/controller.go
  pkg/controller/cluster_status.go
  pkg/controller/clustercontroller/controller.go
  pkg/controller/cronbackupcontroller/controller.go
  pkg/controller/dnscontroller/controller.go
  pkg/controller/nodecontroller/controller.go
  pkg/scheme/common/well_known_labels.go
  pkg/scheme/core/v1/cluster_provider.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/cri/containerd.go
  pkg/scheme/core/v1/cri/containerd_test.go
  pkg/scheme/core/v1/cri/docker.go
  pkg/scheme/core/v1/k8s/cluster.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/kubeadm_test.go
  pkg/scheme/core/v1/k8s/node.go
  pkg/scheme/core/v1/k8s/template.go
  pkg/scheme/core/v1/zz_generated.deepcopy.go
  pkg/service/delivery/delivery.go
  pkg/utils/cmdutil/cmdutil.go
  test/e2e/cluster/cluster.go
Labels: approved, size/XXL, kind/design, lgtm, release-note-none, dco-signoff: yes
