Repository kubeclipper/kubeclipper, pull requests merged in 2023-03, with the labels that each got.

#552 fix occasional 401 error
  pkg/authentication/auth/token.go
  pkg/cli/create/create_cluster.go
  pkg/utils/random/string.go
  pkg/utils/random/string_test.go
Labels: kind/bug, approved, lgtm, size/M, dco-signoff: yes, release-note

#554 fix: add get-kubeclipper.sh
  .github/workflows/sync-script.yml
  .github/workflows/test-aio.yml
  README.md
  README_zh.md
  scripts/get-kubeclipper.sh
Labels: approved, size/L, lgtm, kind/flake, release-note-none, dco-signoff: yes

#556 fix: add get-kubeclipper.sh (#554)
  .github/workflows/sync-script.yml
  .github/workflows/test-aio.yml
  README.md
  README_zh.md
  scripts/get-kubeclipper.sh
Labels: approved, size/L, lgtm, release-note-none, dco-signoff: yes

#557 Fix external etcd cluster nano-management failure
  pkg/clustermanage/kubeadm/wrapper.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#560 feat: add cluster_hosting and fix some cases
  .github/workflows/test-aio.yml
  .github/workflows/test-api.yml
  test/api/backup_recovery_cluster/create_cluster_backup.yaml
  test/api/cluster_hosting/cluster_hosting.yaml
  test/api/cluster_operator/add_storage_plugin.yaml
  test/api/list.yaml
  test/api/run.py
Labels: approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#561 feat: update kc version to v1.3.2
  scripts/get-kubeclipper.sh
Labels: approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#562 feat: update k8s apiserver cert SANs when update externalIP
  pkg/clusteroperation/operation.go
  pkg/controller/clustercontroller/controller.go
  pkg/scheme/common/well_known_labels.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/k8s/cluster.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/types.go
  pkg/scheme/core/v1/operation_types.go
  pkg/service/delivery/delivery.go
Labels: kind/feature, approved, lgtm, size/XL, release-note-none, dco-signoff: yes

#566 fix: k8s api endpoint support domain
  pkg/scheme/common/well_known_labels.go
  pkg/scheme/core/v1/cluster_types.go
Labels: kind/feature, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#567 add kcctl create cluster flag --insecure-registry
  pkg/cli/create/create_cluster.go
  pkg/component/utils/registry.go
Labels: kind/feature, approved, lgtm, size/M, dco-signoff: yes, release-note

#571 feat: support exec pod for #570
  api/openapi-spec/swagger.json
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
  pkg/utils/sshutils/shell.go
  pkg/utils/sshutils/web_terminal.go
Labels: approved, size/L, lgtm, dco-signoff: yes, release-note

#569 feat: update k8s apiserver cert SANs when update externalIP
  pkg/cli/create/create_cluster.go
  pkg/controller/clustercontroller/controller.go
  pkg/controller/operationcontroller/controller.go
  pkg/scheme/common/well_known_labels.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/k8s/cluster.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/types.go
  pkg/scheme/core/v1/operation_types.go
  pkg/server/server.go
  pkg/service/delivery/delivery.go
Labels: approved, lgtm, size/XL, release-note-none, dco-signoff: yes

#572 Fix the bug of renaming tag of mirror
  pkg/cli/registry/registry.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#574 fix: kcctl registry remove image failed
  pkg/cli/registry/registry.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes
