Repository kubeclipper/kubeclipper, pull requests merged in 2023-02, with the labels that each got.

#538 fix: optimize the code and add err.log
  .github/workflows/test-api.yml
  .gitignore
  test/api/README.md
  test/api/add_remove_node/add_remove_get_node.yaml
  test/api/add_remove_node/nfs_cluster.yaml
  test/api/backup_recovery_cluster/create_backup_space.yaml
  test/api/backup_recovery_cluster/create_cluster_backup.yaml
  test/api/backup_recovery_cluster/create_scheduled_backups.yaml
  test/api/backup_recovery_cluster/delete_backup_space.yaml
  test/api/backup_recovery_cluster/delete_cluster_backup.yaml
  test/api/backup_recovery_cluster/delete_scheduled_backups.yaml
  test/api/backup_recovery_cluster/disable_enable_scheduled_backups.yaml
  test/api/backup_recovery_cluster/get_cluster_backup.yaml
  test/api/backup_recovery_cluster/get_edit_backup_space.yaml
  test/api/backup_recovery_cluster/get_edit_scheduled_backups.yaml
  test/api/backup_recovery_cluster/recovery_cluster.yaml
  test/api/registry/add_registry.yaml
  test/api/registry/delete_registry.yaml
  test/api/registry/get_edit_registry.yaml
  test/api/registry/use_registry.yaml
  test/api/run.py
  test/api/template/template_cluster.yaml
  test/api/template/template_nfs.yaml
  test/api/test_cluster/check_test_cluster.yaml
  test/api/test_cluster/create_test_cluster.yaml
  test/api/test_cluster/delete_test_cluster.yaml
Labels: approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#539 feat: add access_control apitest
  test/api/access_control/role.yaml
  test/api/access_control/user.yaml
  test/api/list.yaml
  test/api/run.py
Labels: approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#541 fix: solve the secret token of the k8s v1.24 service account
  pkg/clustermanage/kubeadm/provider.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/node.go
  pkg/utils/strutil/strutil.go
Labels: kind/bug, approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#540 feat: add api testcases for region and node
  test/api/cluster_operator/add_storage_plugin.yaml
  test/api/cluster_operator/certificate_management.yaml
  test/api/cluster_operator/cluster_upgrade.yaml
  test/api/list.yaml
  test/api/node/node_operate.yaml
  test/api/region/region_operate.yaml
Labels: approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#543 feat: add kcctl create cluster flags
  pkg/cli/create/create_cluster.go
Labels: kind/feature, approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#547 feat: add kcctl create cluster flags (#543)
  pkg/cli/create/create_cluster.go
Labels: kind/feature, approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#548 doc: update ip-detect flag use example
  cmd/kcctl/app/options/options.go
Labels: approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#549 fix: kcctl create cluster --calico.ipv4-auto-detection flag checkfmt …
  pkg/cli/create/create_cluster.go
  pkg/utils/autodetection/method.go
Labels: kind/bug, size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#551 refactor: use single YAML library
  cmd/kcctl/app/options/options.go
  cmd/kubeclipper-agent/app/version.go
  cmd/kubeclipper-proxy/app/version.go
  cmd/kubeclipper-server/app/version.go
  go.mod
  go.sum
  pkg/agent/config/config.go
  pkg/cli/config/config.go
  pkg/cli/deploy/config_test.go
  pkg/cli/deploy/deploy.go
  pkg/cli/deploy/deploy_config.go
  pkg/cli/proxy/deploy.go
  pkg/cli/registry/registry.go
  pkg/cli/version/version.go
  pkg/clustermanage/kubeadm/provider.go
  pkg/clustermanage/kubeadm/wrapper.go
  tools/kcctldocs-gen/generators/gen.go
Labels: kind/cleanup, approved, lgtm, size/XL, release-note-none, dco-signoff: yes
