Repository kubeclipper/kubeclipper, pull requests merged in 2023-01, with the labels that each got.

#504 feat: add cluster backup and recovery api test cases
  test/api/README.md
  test/api/fs_backup_recovery.yaml
  test/api/s3_backup_recovery.yaml
Labels: approved, lgtm, size/XL, do-not-merge/release-note-label-needed, dco-signoff: yes

#507 feat:add cluster template api testcases
  test/api/README.md
  test/api/template/template_cluster.yaml
  test/api/template/template_nfs.yaml
Labels: approved, size/L, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#506 master node not need to be detected when the cluster is initiated
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/component/ctx.go
  pkg/component/nfs/nfs.go
  pkg/component/nfscsi/nfs_csi.go
  pkg/controller/clustercontroller/metadata.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#508 fix: retry termination operation
  pkg/apis/core/v1/handler.go
  pkg/clusteroperation/operation.go
  pkg/component/ctx.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#510 fix: extend the install storage timeout period
  pkg/component/nfs/nfs.go
  pkg/component/nfscsi/nfs_csi.go
Labels: kind/bug, size/S, approved, lgtm, dco-signoff: yes, release-note

#509 feat: The kcctl "join" command adds the ssh parameters
  pkg/cli/join/join.go
Labels: kind/feature, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#513 add some unit test in package pkg
  pkg/query/query_test.go
  pkg/utils/sliceutil/sliceutil_test.go
  pkg/utils/wssstream/conn_test.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#515 support k8s v1.24 and v1.25
  pkg/cli/registry/registry.go
  pkg/scheme/core/v1/cni/calico.go
  pkg/scheme/core/v1/cni/calico_template.go
  pkg/scheme/core/v1/cri/containerd.go
  pkg/scheme/core/v1/cri/cri.go
  pkg/scheme/core/v1/cri/template.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/template.go
  test/e2e/cluster/cloud_provider.go
  test/e2e/cluster/spec.go
Labels: approved, size/XXL, lgtm, dco-signoff: yes, release-note

#519 feat: support delegate CloudProvider when delete cluster
  api/openapi-spec/swagger.json
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/registry.go
Labels: kind/feature, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#518 fix: specification of metallb ip address pool configuration
  pkg/component/metallb/metallb.go
  pkg/component/metallb/template.go
Labels: approved, lgtm, size/M, dco-signoff: yes

#520 fix: update component workload tolerance and node affinity
  pkg/component/nfs/nfs_test.go
  pkg/component/nfs/template.go
Labels: kind/bug, size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#522 fix: update component workload tolerance and node affinity (#520)
  pkg/component/nfs/template.go
Labels: kind/bug, size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#523 fix: kcctl registry deploy bug
  pkg/cli/registry/registry.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#525 fix: kubelet supports setting nodeip
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/template.go
Labels: kind/bug, approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes

#526 fix: optimize the kcctl upgrade and resource error print
  pkg/cli/resource/resource.go
  pkg/cli/upgrade/upgrade.go
Labels: kind/bug, size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#511 feat:add api test in workflow
  .github/workflows/test-api.yml
  test/api/README.md
  test/api/template/template_cluster.yaml
  test/api/template/template_nfs.yaml
Labels: approved, lgtm, size/M, release-note-none, dco-signoff: yes, kind/ok-to-test

#529 fix: update speed calculate when sendpackage
  pkg/cli/utils/download.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#527 feat: add registry apitest and run task
  test/api/list.yaml
  test/api/registry/add_registry.yaml
  test/api/registry/delete_registry.yaml
  test/api/registry/get_edit_registry.yaml
  test/api/registry/use_registry.yaml
  test/api/run.py
  test/api/test_cluster/check_test_cluster.yaml
  test/api/test_cluster/create_test_cluster.yaml
  test/api/test_cluster/delete_test_cluster.yaml
Labels: approved, lgtm, size/XL, do-not-merge/release-note-label-needed, dco-signoff: yes

#524 add some unit test for pkg
  pkg/component/ctx_test.go
  pkg/component/nfscsi/nfs_csi_test.go
  pkg/controller/dnscontroller/template_test.go
Labels: kind/feature, approved, size/XXL, lgtm, release-note-none, dco-signoff: yes

#534 feat: add node-ip as node-name
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/k8s/kubeadm_test.go
  pkg/scheme/core/v1/k8s/template.go
Labels: kind/feature, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#535 fix: cron-backup check cluster-apiserver bug
  pkg/controller/cronbackupcontroller/controller.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#532 add some unit test for pkg
  pkg/errors/errors_test.go
  pkg/logger/logger_test.go
  pkg/models/iam/utils_test.go
  pkg/models/platform/platformsetting_test.go
  pkg/nodestatus/node_status_test.go
  pkg/oplog/operation_log_test.go
Labels: approved, lgtm, area/testing, size/XL, release-note-none, dco-signoff: yes

#533 feat: add node-ip as node-name
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_test.go
  pkg/scheme/core/v1/k8s/template.go
  pkg/scheme/core/v1/k8s/utils.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#536 fix: organize test cases
  .gitignore
  test/api/add_remove_node/add_remove_get_node.yaml
  test/api/add_remove_node/one_two_nodes_cluster.yaml
  test/api/backup_recovery_cluster.yaml
  test/api/backup_recovery_cluster/create_backup_space.yaml
  test/api/backup_recovery_cluster/create_cluster_backup.yaml
  test/api/backup_recovery_cluster/create_scheduled_backups.yaml
  test/api/backup_recovery_cluster/delete_backup_space.yaml
  test/api/backup_recovery_cluster/delete_cluster_backup.yaml
  test/api/backup_recovery_cluster/delete_scheduled_backups.yaml
  test/api/backup_recovery_cluster/disable_enable_scheduled_backups.yaml
  test/api/backup_recovery_cluster/get_cluster_backup.yaml
  test/api/backup_recovery_cluster/get_edit_backup_space.yaml
  test/api/backup_recovery_cluster/get_edit_scheduled_backups.yaml
  test/api/backup_recovery_cluster/recovery_cluster.yaml
  test/api/create_namesake_cluster.yaml
  test/api/list.yaml
Labels: approved, size/XXL, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#531 feat: add test report for api test
  .github/workflows/test-api.yml
  test/api/README.md
Labels: size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes
