Repository kubeclipper/kubeclipper, pull requests merged in 2023-07, with the labels that each got.

#592 fix: check the ubuntu-22.04 synchronization time service
  pkg/cli/deploy/deploy.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#593 fix: ntp service discovery mode
  pkg/cli/deploy/deploy.go
Labels: approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#602 docs: add star history
  README.md
Labels: approved, size/XS, do-not-merge/release-note-label-needed, dco-signoff: no

#604 refactor: kcctl registry
  go.mod
  go.sum
  pkg/cli/config/template.go
  pkg/cli/registry/client/client.go
  pkg/cli/registry/registry.go
  pkg/cli/utils/download.go
Labels: kind/feature, approved, size/XXL, lgtm, release-note-none, dco-signoff: yes

#595 fix: update alpine 3.16.3 to 3.18
  Dockerfile
Labels: approved, size/XS, lgtm, release-note-none, dco-signoff: yes, needs-ok-to-test

#605 use externalip in kubeconfig when cluster externalip is valid
  pkg/apis/core/v1/handler.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
Labels: size/S, approved, lgtm, release-note-none, dco-signoff: yes, kind/optimize

#607 feat: add some useful tools when deploy cluster
  pkg/scheme/core/v1/k8s/extension.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#596 ci: add dependabot
  .github/dependabot.yml
Labels: size/S, approved, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes, needs-ok-to-test

#610 ci: update default kc version from 1.3.3 to 1.3.4
  scripts/get-kubeclipper.sh
Labels: approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#611 ci: update default kc version from 1.3.3 to 1.3.4
  scripts/get-kubeclipper.sh
Labels: approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#624 fix: add namespace when create/update
  pkg/models/cluster/cluster.go
  pkg/models/core/configmap.go
  pkg/models/iam/iam.go
  pkg/models/operation/operation.go
  pkg/models/platform/platformsetting.go
Labels: approved, lgtm, size/M, kind/flake, release-note-none, dco-signoff: yes

#601 fix: opa cve vuln
  cmd/kubeclipper-server/app/options/options.go
  go.mod
  go.sum
  pkg/auditing/audit.go
  pkg/authentication/request/path/path.go
  pkg/authentication/request/path/path_test.go
  pkg/authorization/rbac/rbac_test.go
  pkg/client/clientrest/transport.go
  pkg/clustermanage/kubeadm/provider.go
  pkg/controller-runtime/source/source_informer.go
  pkg/controller-runtime/source/source_kind.go
  pkg/controller/nodecontroller/controller.go
  pkg/healthz/healthz.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/server/filters/util.go
  pkg/server/request/request.go
  pkg/server/request/request_test.go
  pkg/server/server.go
  pkg/service/task/service.go
  pkg/utils/sshutils/web_terminal.go
Labels: approved, lgtm, size/XL, do-not-merge/release-note-label-needed, dco-signoff: yes, needs-ok-to-test

#626 bump golang.org/x/crypto/... to latest
  go.mod
  go.sum
Labels: kind/bug, approved, lgtm, size/M, dco-signoff: yes, release-note

#633 fix:offline arg in kcctl cluster create command
  pkg/cli/create/create_cluster.go
Labels: approved, size/XS, lgtm, release-note-none, dco-signoff: yes, ok-to-test

#636 fix: cluster deploy compatible different os
  pkg/models/cluster/cluster.go
  pkg/models/core/configmap.go
  pkg/models/iam/iam.go
  pkg/models/operation/operation.go
  pkg/models/platform/platformsetting.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/k8s/k8s.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/template.go
  pkg/scheme/core/v1/k8s/utils.go
  pkg/utils/initsystem/initsystem.go
  pkg/utils/initsystem/initsystem_unix.go
  pkg/utils/initsystem/initsystem_windows.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#634 fix: change s3_endpoint on apitest
  test/api/backup_recovery_cluster/create_cluster_backup.yaml
  test/api/cluster_hosting/cluster_hosting.yaml
Labels: approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#640 fix docker image build error
  Dockerfile
Labels: size/S, approved, lgtm, kind/flake, release-note-none, dco-signoff: yes
