Repository kubeclipper/kubeclipper, pull requests merged in 2023-06, with the labels that each got.

#581 fix: caddy reverse proxy cluster apiserver
  pkg/cli/config/template.go
Labels: approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#582 docs: update readme.md
  README.md
  README_zh.md
  docs/img/kc-network.png
Labels: approved, size/L, kind/documentation, lgtm, release-note-none, dco-signoff: yes

#583 kcctl adds the service/pod subnet parameter
  pkg/cli/create/create_cluster.go
Labels: approved, lgtm

#584 kcctl adds the service/pod subnet parameter
  pkg/cli/create/create_cluster.go
Labels: kind/feature, size/S, approved, lgtm, dco-signoff: yes

#585 ci: update default kc version from 1.3.1 to 1.3.3
  scripts/get-kubeclipper.sh
Labels: approved, size/XS, do-not-merge/release-note-label-needed, dco-signoff: yes

#586 ci: update default kc version from 1.3.1 to 1.3.3 (#585)
  scripts/get-kubeclipper.sh
Labels: approved, do-not-merge/release-note-label-needed, dco-signoff: yes

#587 fix containerd config bug and kc deploy bug in unbuntu-18
  pkg/cli/deploy/deploy.go
  pkg/scheme/core/v1/cri/template.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#588 fix kc deploy bug in unbuntu-18
  pkg/cli/deploy/deploy.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#589 fix offline upgrade
  pkg/scheme/core/v1/k8s/cluster.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes
