Repository kubeclipper/kubeclipper, pull requests merged in 2023-08, with the labels that each got.

#649 Modify kc-server boot initialization iam data
  pkg/server/config.go
  pkg/server/server.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#654 Support new k8s version
  pkg/clustermanage/kubeadm/provider.go
  pkg/component/common/chart.go
  pkg/component/utils/utils.go
  pkg/scheme/common/utils.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/cni/calico.go
  pkg/scheme/core/v1/cni/calico_template.go
  pkg/scheme/core/v1/cni/calico_test.go
  pkg/scheme/core/v1/cni/cni.go
  pkg/scheme/core/v1/cni/utils.go
  pkg/scheme/core/v1/cri/cri.go
  pkg/scheme/core/v1/k8s/extension.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/simple/downloader/downloader.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#655 fix data race
  pkg/component/ctx.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#656 add --join-config flag for join subcmd
  cmd/kcctl/app/options/options.go
  pkg/cli/join/join.go
Labels: kind/feature, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#657 only install k8s component and optimize kcctl create
  pkg/apis/core/v1/handler.go
  pkg/apis/core/v1/utils.go
  pkg/cli/create/create.go
  pkg/cli/create/create_cluster.go
  pkg/cli/create/utils.go
  pkg/component/ctx.go
  pkg/scheme/common/well_known_labels.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#658 support set k8s featureGates
  pkg/cli/create/create.go
  pkg/cli/create/create_cluster.go
  pkg/scheme/core/v1/cluster_types.go
  pkg/scheme/core/v1/k8s/cluster.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/kubeadm_test.go
  pkg/scheme/core/v1/k8s/template.go
  pkg/scheme/core/v1/zz_generated.deepcopy.go
Labels: kind/feature, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#651 Modify kc-server boot initialization iam data (#649)
  .github/workflows/test-aio.yml
  pkg/server/config.go
  pkg/server/server.go
  pkg/simple/client/kc/api.go
  pkg/simple/client/kc/scheme.go
  test/e2e/cluster/spec.go
  test/framework/cluster/wait.go
  test/framework/timeouts.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#660 fix: kcctl create cluster pod/svc subnet
  pkg/cli/create/create_cluster.go
Labels: kind/bug, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#664 optimize: bump up go version to 1.20.
  .github/workflows/build-kc.yml
  go.mod
  pkg/component/ctx.go
Labels: approved, size/XS, lgtm, release-note-none, dco-signoff: yes, kind/optimize

#665 fix github action build failed
  .github/workflows/build-kc.yml
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes
