Repository kubeclipper/kubeclipper, pull requests merged in 2023-09, with the labels that each got.

#666 fix: update cluster proxy api prefix
  pkg/apis/proxy/handler.go
  pkg/cli/config/template.go
Labels: kind/bug, approved, size/XS, lgtm, do-not-merge/release-note-label-needed, dco-signoff: yes

#667 optimize kcctl get cluster output
  pkg/simple/client/kc/scheme.go
  pkg/simple/client/kc/scheme_test.go
Labels: approved, lgtm, size/M, release-note-none, dco-signoff: yes, kind/optimize

#668 feat: support x509 client auth
  cmd/kcctl/app/options/options.go
  cmd/kubeclipper-server/app/options/options.go
  pkg/authentication/request/x509/doc.go
  pkg/authentication/request/x509/testdata/client-expired.pem
  pkg/authentication/request/x509/testdata/client-valid.pem
  pkg/authentication/request/x509/testdata/client.config.json
  pkg/authentication/request/x509/testdata/client.csr.json
  pkg/authentication/request/x509/testdata/generate.sh
  pkg/authentication/request/x509/testdata/intermediate.config.json
  pkg/authentication/request/x509/testdata/intermediate.csr.json
  pkg/authentication/request/x509/testdata/intermediate.pem
  pkg/authentication/request/x509/testdata/root.csr.json
  pkg/authentication/request/x509/testdata/root.pem
  pkg/authentication/request/x509/verify_options.go
  pkg/authentication/request/x509/x509.go
  pkg/authentication/request/x509/x509_test.go
  pkg/authentication/user/user.go
  pkg/cli/config/config.go
  pkg/cli/config/config_test.go
  pkg/cli/deploy/deploy.go
  pkg/cli/login/login.go
  pkg/server/config.go
  pkg/server/server.go
  pkg/simple/client/kc/client.go
  pkg/simple/client/kc/options.go
Labels: kind/feature, approved, size/XXL, lgtm, dco-signoff: yes, release-note

#669 change default version to v1.4.0
  .github/workflows/sync-script.yml
  README.md
  README_zh.md
  pkg/cli/deploy/deploy.go
  scripts/get-kubeclipper.sh
Labels: approved, kind/documentation, lgtm, size/M, release-note-none, dco-signoff: yes

#670 chore: import packages only once
  pkg/authentication/auth/auth_test.go
Labels: approved, size/XS, lgtm, release-note-none, dco-signoff: yes, needs-ok-to-test
