Repository kubeclipper/kubeclipper, pull requests merged in 2024-07, with the labels that each got.

#731 build: update default version
  scripts/get-kubeclipper.sh
Labels: approved, size/XS, kind/documentation, lgtm, release-note-none, dco-signoff: yes

#732 fix：parse version from git info
  pkg/cli/deploy/deploy.go
  scripts/get-kubeclipper.sh
Labels: size/S, kind/documentation, release-note-none, dco-signoff: yes

#734 ci: update workflows
  .github/workflows/build-kc-image.yml
  .github/workflows/build-kc.yml
  .github/workflows/release.yml
  .github/workflows/test-aio.yml
Labels: size/L, release-note-none, dco-signoff: yes

#736 ci: update workflows
  .github/workflows/build-kc-image.yml
  .github/workflows/build-kc.yml
  .github/workflows/release.yml
  .github/workflows/test-aio.yml
Labels: approved, size/L, kind/documentation, lgtm, release-note-none, dco-signoff: yes

#737 Fixed nil error log when unmarshal manifest.json
  pkg/simple/downloader/downloader.go
Labels: kind/bug, approved, size/XS, lgtm, release-note-none, dco-signoff: yes

#738 Output raw std error after executing cmd failed
  pkg/utils/cmdutil/cmdutil.go
  pkg/utils/cmdutil/command.go
Labels: kind/feature, size/S, approved, lgtm, release-note-none, dco-signoff: yes

#739 Fixed error SystemdCgroup runc config of containerd
  pkg/scheme/core/v1/cri/containerd.go
  pkg/utils/cgroups/systemd.go
Labels: kind/bug, approved, lgtm, size/M, release-note-none, dco-signoff: yes
