Repository kubeclipper/kubeclipper, pull requests merged in 2024-08, with the labels that each got.

#741 Add a systemctl util and apply it to container runtimes
  go.mod
  go.sum
  pkg/scheme/core/v1/cri/containerd.go
  pkg/scheme/core/v1/cri/docker.go
  pkg/utils/systemctl/systemctl.go
  pkg/utils/systemctl/systemctl_test.go
Labels: kind/feature, approved, lgtm, size/XL, release-note-none, dco-signoff: yes

#742 Apply systemctl util to kubelet
  pkg/scheme/core/v1/k8s/kubeadm.go
Labels: kind/feature, approved, lgtm, size/M, release-note-none, dco-signoff: yes

#746 ci: add fmt check and build check
  .github/workflows/check-build.yml
  .github/workflows/check-code-fmt.yml
  .github/workflows/check-test-coverage.yml
  .github/workflows/test-coverage.yml
  pkg/cli/deploy/deploy.go
  pkg/scheme/core/v1/cni/calico_unsupport.go
Labels: kind/bug, approved, size/L, lgtm, release-note-none, dco-signoff: yes

#750 Check nodes and cluster health with kube clientset
  pkg/apis/core/v1/utils_test.go
  pkg/component/utils/utils.go
  pkg/scheme/core/v1/k8s/kubeadm.go
  pkg/scheme/core/v1/k8s/kubeadm_step.go
  pkg/scheme/core/v1/k8s/node.go
  tools/licfmt/licfmt.go
Labels: approved, size/L, lgtm, release-note-none, dco-signoff: yes

#751 Fixed missing test badge
  README.md
Labels: kind/bug, approved, lgtm, size/M, do-not-merge/release-note-label-needed, dco-signoff: yes
